<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Last.fm to Vinyl{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <!-- Barra de navegación -->
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
            <li><a href="{{ url_for('busqueda_artistas') }}">Búsqueda por Artistas</a></li>
            <li><a href="{{ url_for('busqueda_albumes') }}">Búsqueda por Álbumes</a></li>
            <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
            <li><a href="{{ url_for('notificaciones') }}">Notificaciones</a></li>
        </ul>
    </nav>

    <!-- Contenedor principal donde se insertará el contenido específico de cada página -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div id="flash-messages" class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script>
        // Esperar 3 segundos y luego ocultar los mensajes flash con una transición
        setTimeout(() => {
            const flashMessages = document.getElementById('flash-messages');
            if (flashMessages) {
                flashMessages.classList.add('hidden');
            }
        }, 3000); // 3000 milisegundos = 3 segundos
    </script>
</body>
</html>
