<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last.fm to Vinyl - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesloggin.css') }}">
</head>
<body>
    <div class="container">
        <div class ="title-image">
            <h1>SPOTIFY TO VYNIL</h1>
            <img src="{{ url_for('static', filename='logo_discogs.png') }}" alt="Discogs Logo">
        </div>
        
        <div class="button-container">
            <a href="{{ url_for('inicio_sesion') }}"><button>Iniciar Sesión</button></a>
            <a href="{{ url_for('crear_cuenta') }}"><button>Crear Cuenta</button></a>
        </div>

        <a href="#" class="recover-password">Recuperar Contraseña</a>
    </div>
</body>
</html>

