<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last.fm to Vinyl - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
            <li><a href="{{ url_for('busqueda_artistas') }}">Búsqueda por Artistas</a></li>
            <li><a href="{{ url_for('busqueda_albumes') }}">Búsqueda por Álbumes</a></li>
            <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
            <li><a href="{{ url_for('notificaciones') }}">Notificaciones</a></li>
        </ul>
    </nav>
    
    
    
    
    
    <div class="container">
        <h1>Bienvenido a Last.fm to Vinyl</h1>
    </div>
</body>
</html>
