<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('dashboard') }}">Inicio</a></li>
            <li><a href="{{ url_for('busqueda_artistas') }}">Búsqueda por Artistas</a></li>
            <li><a href="{{ url_for('busqueda_albumes') }}">Búsqueda por álbumes</a></li>
            <li><a href="{{ url_for('wishlist') }}">Wishlist</a></li>
            <li><a href="{{ url_for('notificaciones') }}">Notificaciones</a></li>
        </ul>
    </nav>
    

    <div class="container">
        <h1>Wishlist</h1>
        
        {% if wishlist_albumes %}
            <div class="wishlist-list">
                {% for album in wishlist_albumes %}
                    <div class="wishlist-item">
                        <p><strong>{{ album[1] }}</strong> - {{ album[2] }}</p>
                        <a href="{{ url_for('ver_album', id_album=album[0]) }}">
                            <button class="details-btn">Ver Detalles</button>
                        </a>
                        <form method="POST" action="{{ url_for('eliminar_wishlist', id_album=album[0]) }}">
                            <button type="submit" class="heart-btn">❤️</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No tienes álbumes en tu wishlist.</p>
        {% endif %}
    </div>
</body>
</html>
